<% layout("layouts/boilerplate.ejs") %>
<style>
    #filters{
        display: none;
    }
    .category-line{
        display:none;
    }
</style>
    <body>


        <div class="row mrow col-8 offset-2 mt-3">


            <h3>Edit your Listing</h3>
            <form action="/listings/<%=listing._id %>?_method=put" method="post" class="needs-validation" novalidate
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" value="<%=listing.title %>" id="title"
                        required>
                    <div class="valid-feedback">looks good!</div>
                    <div class="invalid-feedback">Please Add Title</div>
                </div>
                <div class="mb-2">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" class="form-control" rows="2" id="description" cols="30" rows="5"
                        required><%=listing.description%></textarea>
                    <div class="valid-feedback">looks good!</div>
                    <div class="invalid-feedback">Please Add Description</div>
                </div>
                <div class="mb-2">
                    Original Image:
                    <br>
                    <img src="<%=listing.image.url %>" height="80px" width="150px" alt="" style="border-radius: 1rem;">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="file" name="image" class="form-control" id="image">
                    <div class="valid-feedback">looks good!</div>
                    <div class="invalid-feedback">Please add Link/Url</div>
                </div>
                <div class="row ">
                    <div class="mb-3 col-md-4 ">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="price" value="<%=listing.price %>" class="form-control" id="price"
                            required>
                        <div class="valid-feedback">looks good!</div>
                        <div class="invalid-feedback">Please Add Price</div>
                    </div>
                    <div class="mb-3 col-md-8 ">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="location" class="form-control" value="<%=listing.location %>"
                            id="location" required>
                        <div class="valid-feedback">looks good!</div>
                        <div class="invalid-feedback">Please Add Location</div>
                    </div>
                </div>
                <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="country" class="form-control" value="<%= listing.country %>" id="country"
                        required>
                    <div class="valid-feedback">looks good!</div>
                    <div class="invalid-feedback">Please Add Country</div>
                </div>
                <div class="mb-3 col-md-6">

                    <label for="exampleDataList" class="form-label">Category</label>
                    <input class="form-control" value="<%=listing.category %>" name="category" list="datalistOptions" id="exampleDataList"
                        placeholder="Select Category..." required>
                    <datalist id="datalistOptions">
                        <option value="Mountain">
                        <option value="Lake">
                        <option value="Forest">
                        <option value="Beach">
                        <option value="City">
                            <option value="Castles">
                                <option value="Others">
                    </datalist>
                    <div class="valid-feedback">looks good!</div>
                    <div class="invalid-feedback">Please Enter Category</div>
                </div>
            </div>
                <button class="btn  btn-primary edit-btn "> Edit </button>
            </form>

        </div>
        <br><br>
    </body>